<div class="container" id='about'>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4 text-center">About</h1>
          <p class="lead">Trailer Hub is your one stop place for Movie and TV trailers from popular YouTube channels. The website currently supports the following</p>
          <ul>
              <li class="lead">Apple TV</li>
              <li class="lead">Netflix</li>
          </ul>
          <p class="lead">
              This is an Open Source Project created by <a href="https://harshana.xyz" target="_blank">Harshana</a>. All kinds of Feedbacks, Feature Requests, Issue Reporting &amp; Contribution
              are welcome.
          </p>
          <p class="lead">Check out the project at GitHub: <a href="https://www.github.com/harshanas/trailer-hub">Click Here</a></p>
        </div>
      </div>
</div>
