<div class="container-fluid" id="list">
    <div class="row">
        <div class="col-md-3 trailer-item" *ngFor="let index of [].constructor(8)">
            <a href="https://www.youtube.com/watch?v=XQfeoRLvfqU" class="trailer-link" target="_blank">
                <div class="card" >
                    <img src="https://i.ytimg.com/vi/XQfeoRLvfqU/mqdefault.jpg" class="card-img-top">
                    <div class="card-body">
                    <p class="card-text">Defending Jacob — Official Trailer | Apple TV+</p>
                    </div>
                </div>
            </a>
        </div>
        

    </div>
    
    
</div>